# Ignore OS files
.DS_Store

*.bit
*.mcs
*.*bak
*.*cmd
*.*log
*.err
*.gise
*.html
*.jhd
*.ncd
*.prj
*.spl
*.stx
*.tim
*.tspec
*.xst
*.xwbt
*BatchFile
*_xdb
_ngo
_xmsgs
*.xmsgs

!*.xpr
!*.xise
!*.tcl
*/bd/*
!*/bd/*.bd
*.swp
*.~
*.*~
*.o
.Xil

ip_cores/*
*.xcix
*.xci
!ip_cores/*.xco
tags

iseconfig
*.pyc
*.prm
*.cfi
